.Catalog .row {
    margin-bottom: 1rem;
}

.filter-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort-input {
    font-size: 0.75rem;
    width: auto;
}

.query-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.query-group > * {
    font-size: 0.75rem;
}

.query-group > .price-input {
    width: 60px;
}

.min-price-input {
    border-radius: 5px 0 0 5px;
    border-right-width: 0;
}

.max-price-input {
    border-radius: 0;
    border-right-width: 0;
}

.query-input {
    border-radius: 0;
}

.apply-btn {
    border-radius: 0 5px 5px 0;
}

.card {
    width: 8rem;
}

.card-body {
    padding: 4%;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: left;
    margin-bottom: 0;
}

.card-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
}

.card-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0.2rem;
    margin-bottom: 0;
    text-align: left;
}

.card-price {
    text-align: right;
}

