.Catalog .row {
    margin-bottom: 1rem;
}

.Catalog .filter-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Catalog .sort-input {
    font-size: 0.75rem;
    width: auto;
}

.Catalog .query-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Catalog .query-group > * {
    font-size: 0.75rem;
}

.Catalog .query-group > .price-input {
    width: 60px;
}

.Catalog .min-price-input {
    border-radius: 5px 0 0 5px;
    border-right-width: 0;
}

.Catalog .max-price-input {
    border-radius: 0;
    border-right-width: 0;
}

.Catalog .query-input {
    border-radius: 0;
}

.Catalog .apply-btn {
    border-radius: 0 5px 5px 0;
}

