.filter-menu {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-menu > * {
    font-size: 0.6rem;
}

.price-input {
    width: 4rem;
}

.card-body {
    padding: 4%;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.65rem;
    text-align: left;
    margin-bottom: 0;
}

.card-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.55rem;
}

.card-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0.2rem;
    margin-bottom: 0;
    text-align: left;
}

.card-price {
    text-align: right;
}

