.MiniCart {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.MiniCart .cart-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MiniCart .label {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.MiniCart .price {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MiniCart .cart-col-left {
  width: 24%;
  text-align: right;
  padding: 1rem;
}

.MiniCart .cart-col-right {
  flex-grow: 1;
}

.MiniCart .row {
  margin-bottom: 1rem;
}