.ScrollMenu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.ScrollMenu .menu-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
}

.ScrollMenu .menu-content::-webkit-scrollbar {
    display: none;
}

.ScrollMenu .arrow-container {
    position: relative;
    z-index: 2000;
    min-height: 100%;
    min-width: 3em;
    display: flex;
    flex-direction: row;
}

.ScrollMenu .arrow-container .arrow-gradient {
    min-width: 3em;
}

.ScrollMenu .arrow-container .arrow-identifier {
    display: flex;
    justify-content: center;
    background-color: white;
}

.ScrollMenu .arrow-container svg {
    height: 100%;
}

.ScrollMenu .left-arrow > .arrow-gradient {
    height: 100%;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.ScrollMenu .right-arrow > .arrow-gradient {
    height: 100%;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}