.navbar {
  padding: 1rem 2rem;
  background-color: white;
}

.navbar-menu  {
  font-size: 1rem;
}

.navbar-menu .nav-link {
  outline: none;
  color: black;
}

.Wardrobe-body {
  display: flex;
  flex-direction: row;
  padding: 0 6vw;
  justify-content: space-between;
}

.outfit-list-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
}