.Wardrobe {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.preview-window {
  background-color: lightgray;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 85vh;
  max-height: 85vh;
  border-radius: 20px;
  position: relative;
}

.preview-bitmoji {
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.preview-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 0.8em;
  max-width: 204px;
}

.preview-sidebar-item-title {
  text-align: left;
}

.preview-sidebar-item-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.btn {
  flex: 25%;
  width: 5vw;
  height: 3em;
  border: none;
  border-radius: 5px;
  position: relative;
}

.btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
  cursor: pointer;
}

.btn:active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0 0);
}

.btn img {
  position:absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.male-btn {
  background-color: #5FD8FF;
}

.female-btn {
  background-color: #FF8383;
}

.prev-btn, .next-btn {
  background-color: #FFEE59;
}

.style-btn {
  background-color: #65FF90;
}

.style-btn {
  flex: 100%;
}