.preview {
  background-color: lightgray;
  width: 50vw;
  height: 90vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: visible;
  position: relative;
  background-image: url(./beach.jpg);
}

.preview img {
  object-fit: contain;
}

.preview button:hover {
  cursor: pointer;
}

.gender {
  background-color: #929292;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px - 64px - 40px);
  left: calc(100% - 64px - 20px);
}

.gender:active {
  background-color: #707070;
}

.shuffler {
  background-color: #E54B4B;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px - 20px);
  left: calc(100% - 64px - 20px);
}

.shuffler:active {
  background-color: #B64242;
}

.changeGender {
  background-color: #E54B4B;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px*2.2 - 20px);
  left: calc(100% - 64*3.65px - 20px);
}

.changeStyle {
  background-color: #E54B4B;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px - 20px);
  left: calc(100% - 64*3.65px - 20px);
}

.incrementTrait {
  background-color: #4bdbe5;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px*3.5 - 20px);
  left: calc(100% - 64*3.65px - 20px);
}

.decrementTrait {
  background-color: #b7e54b;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px*4.7 - 20px);
  left: calc(100% - 64*3.65px - 20px);
}

.incrementOutfit {
  background-color: #e54b98;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px*6 - 20px);
  left: calc(100% - 64*3.65px - 20px);
}

.decrementOutfit {
  background-color: #4bd3e5;
  border: none;
  color: white;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: calc(100% - 64px*7 - 20px);
  left: calc(100% - 64*3.65px - 20px);
}

.btnIcons {
  display: block;
  margin: auto;
}
